<!DOCTYPE html>
<html lang="<!-- @echo LANG -->" ng-app="mikael" ng-controller="mainCtrl">
<head>
    <meta charset="utf-8">
    <title ng-bind="title + '<!-- @echo NAME -->'"><!-- @echo NAME --></title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="viewport" content="minimal-ui">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png" />
    <link rel="bookmark icon" href="/assets/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600;Noto+Serif:400" type="text/css">
    <link rel="profile" href="http://microformats.org/profile/hcard">
    <!-- @if ENV='prod' --><link href="/assets/css/app.min.css?v=<!-- @echo CACHEBUSTER -->" rel="stylesheet"><!-- @endif -->
    <!-- @if ENV='dev' --><link href="/assets/css/app.css?v=<!-- @echo CACHEBUSTER -->" rel="stylesheet"><!-- @endif -->
    <meta name="fragment" content="!">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="<!-- @echo DESCRIPTION -->">
    <meta name="author" content="<!-- @echo AUTHOR -->">
    <meta property="og:title" content="<!-- @echo NAME -->">
    <meta property="og:site_name" content="<!-- @echo AUTHOR -->">
    <meta property="og:description" content="<!-- @echo DESCRIPTION -->">
    <meta property="og:url" content="<!-- @echo HOMEPAGE -->">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<!-- @echo OG_IMG -->">
    <meta property="fb:app_id" content="<!-- @echo FB_APP_ID -->">
    <meta property="fb:admins" content="<!-- @echo FB_ADMINS -->">
    <meta name="twitter:title" content="<!-- @echo NAME -->">
    <meta name="twitter:description" content="<!-- @echo DESCRIPTION -->">
    <!-- @include ga.html -->
</head>
<body class="scrolling-{{scrolling}}" ng-class="pageClass">

    <nav id="navigation">
        <div id="navigation-bg"></div>
        <ul>
            <li><a ng-class="{'active' : pageClass == 'me'}" href="/">Me</a></li>
            <li><a ng-class="{'active' : pageClass == 'blog'}" href="/blog">Blog</a></li>
            <li><a ng-class="{'active' : pageClass == 'volunteering'}" href="/volunteering">Volunteering</a></li>
            <li><a ng-class="{'active' : pageClass == 'cv'}" href="/cv">CV</a></li>
            <li><a ng-class="{'active' : pageClass == 'portfolio'}" href="/portfolio">Portfolio</a></li>
        </ul>
    </nav>
    <div ng-view ui-keydown="{esc: 'card=false'}" tabindex="0"></div>

    <!-- @if ENV='prod' --><script src="/assets/js/app.min.js?v=<!-- @echo CACHEBUSTER -->"></script><!-- @endif -->
    <!-- @if ENV='dev' --><script src="/assets/js/app.js?v=<!-- @echo CACHEBUSTER -->"></script><!-- @endif -->
</body>
</html>
