<div id="some">
    <a class="tt" title="Facebook" href="http://fb.com/mikael.korpela"><i class="icon-facebook"></i></a>
    <a class="tt" title="GitHub" href="https://github.com/simison"><i class="icon-github"></i></a>
    <a class="tt" title="Twitter" href="https://twitter.com/simison"><i class="icon-twitter"></i></a>
    <a class="tt" title="LinkedIn" href="https://www.linkedin.com/in/mikaelkorpela"><i class="icon-linkedin"></i></a>
    <a class="tt" title="+Google" href="https://plus.google.com/+MikaelKorpelasimison"><i class="icon-gplus"></i></a>
    <a class="tt" title="Skype: korpela.mikael" href="skype:korpela.mikael?add"><i class="icon-skype"></i></a>
    <a class="tt" title="Freenode: simison @ #hackercouch" href="irc://irc.freenode.net/hackercouch"><i class="icon-terminal"></i></a>
</div>
