<div id="cover" resizable ng-style="{ height: (windowHeight / 1.03) }">
  <div style="background-image: url('/assets/img/rock-climb-sintra.jpg')" resizable ng-style="{ height: (windowHeight / 1.03) }"></div>
  <div id="cover-blur" style="background-image: url('/assets/img/rock-climb-sintra-blur.jpg')" resizable ng-style="{ height: (windowHeight / 1.03) }"></div>
</div>

<header id="page-header">
  <div class="title">
    <h1>Blog</h1>
    <h3><i>Wanderlust</i> is a strong desire for or impulse to wander or travel and explore the world.</h3>
    <hr>
  </div>
</header>

<div id="container">
    <article id="main">
        <div id="content">
            <!--
            http://tympanus.net/codrops/2013/10/30/medium-style-page-transition/<br>
            http://sridharkatakam.com/medium-like-full-view-featured-image-genesis/
            -->
            <br><br>
            See our travelogue in English: <a href="http://www.wanderlust.lt/">Wanderlust.lt</a> — and it's also <a href="https://www.facebook.com/wanderlust.lt">on Facebook</a>.
            <br><br>
            Or my old diary (2003-2012) in Finnish: <a href="http://www.ihminen.org/blog/">ihminen.org/blogi/</a>
            <br><br>
            <hr>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
        </div>
    </article>
</div>
