<div id="cover" resizable ng-style="{ height: (windowHeight / 1.03) }">
  <div style="background-image: url('/assets/img/porta-de-sol-lisbon.jpg')" resizable ng-style="{ height: (windowHeight / 1.03) }"></div>
  <div id="cover-blur" style="background-image: url('/assets/img/porta-de-sol-lisbon-blur.jpg')" resizable ng-style="{ height: (windowHeight / 1.03) }"></div>
</div>

<header id="page-header">
  <div class="title" style="height:50px">
    <h1>.CV {</h1>
  </div>
</header>

<div id="container" class="vcard" itemscope itemtype="http://data-vocabulary.org/Person">
    <article id="main">
        <div id="content">

            <p class="lead cv-lead">I build websites and campaings for the biggest brands in Europe and in Finland by working mostly with digital and advertising agencies. I'm very experienced both at graphic design and at frontend development.</p>

            <p>With my curiosity I've ended up doing not only design but writing, programming, SEO, leading projects, teaching, organizing events. I've done loads: worked in really big and in quite small companies, done freelancing and won a couple of awards with my teams. I'm active open source contributor and visionary free/share-economics activist.</p>

            <ul class="list-skills">
                <li>Photoshop</li>
                <li>Indesign</li>
                <li>Illustrator</li>
                <li>Flash <em>(Frankly I've been trying to keep away from it nowadays)</em></li>
            </ul>

            <h4>Exchausting list of the techy stuff I'm familiar with</h4>
            <ul class="links-colorless list-skills">
                <li>Cross-browser, cross-platform -testing and debugging</li>
                <li><a href="http://www.wordpress.org">Wordpress</a> <em>(very strong knowledge!)</em></li>
                <li><a href="http://www.symfony.com">Symfony2</a></li>
                <li><a href="http://www.crasman.fi/en/">Crasman Stage CMS</a></li>
                <li><a href="https://developers.facebook.com/">Facebook API</a></li>
                <li><a href="http://phonegap.com/">PhoneGAP</a>/<a href="https://cordova.apache.org/">Cordova</a> for native mobile apps</li>
                <li><a href="https://developers.google.com/maps/">Google Maps API</a>, <a href="http://openlayers.org/">OpenLayers</a> and <a href="http://www.leafletjs.com/">Leaflet</a> <em>(I'm pretty good in mapping stuff in general)</em></li>
                <li><a href="http://www.mediawiki.org">Mediawiki</a></li>
                <li>CSS <a href="http://www.lesscss.org">LESS</a> &amp; <a href="http://sass-lang.com/">SASS</a> preprocessors</li>
                <li><a href="http://gruntjs.com/">Grunt</a> task runner</li>
                <li><a href="http://www.jquery.com">jQuery</a> (+<a href="http://jqueryui.com/">UI</a>, +<a href="http://jquerymobile.com/">Mobile</a>)</li>
                <li><a href="http://www.angularjs.org">AngularJS</a></li>
                <li><a href="http://www.meteor.com">MeteorJS</a></li>
                <li><a href="http://getbootstrap.com">Bootstrap</a></li>
                <li><a href="http://git-scm.com/">Git</a> &amp; Subversion</li>
                <li>JavaScript</li>
                <li><a href="http://coffeescript.org/">CoffeeScript</a></li>
                <li>PHP</li>
                <li><a href="http://nodejs.org">Node</a></li>
                <li><span title="Linux + Apache + MySQL + PHP" class="tt">LAMP</span>
                    <br><small>— <a href="https://www.linkedin.com/profile/view?id=16003262#profile-skills">more on LinkedIn</a></small>
                </li>
            </ul>

            <h2 id="work">Worked for...</h2>
            <ol id="offices">

            <li>
                <div class="summary">
                    <h4><a href="http://www.byroo.fi">Byroo Ltd</a></h4>
                    Developer<br>
                    4/2012—04/2014
                </div>
                <div class="description">
                    Byroo is an awesome digital advertising agency based in Helsinki. Clients include many of the biggest advertising agencies in Finland and notable brands.
                </div>
            </li>

            <li>
                <div class="summary">
                    <h4><a href="http://www.into-digital.fi">Into-Digital Ltd</a></h4>
                    Art Director<br>
                    10/2010—05/2011
                </div>
                <div class="description">
                    Again I worked on the cutting edge of the Finnish digital media.
                </div>
            </li>

            <li>
                <div class="summary">
                    <h4><a href="http://www.gemilo.fi">Gemilo Ltd</a></h4>
                    Graphic designer<br>
                    3/2010—8/2010
                </div>
                <div class="description">
                    Gemilo is a social media solution agency and was listed as one of the most interesting startups in Finland. My work included website designs and GUI-design for their products.
                </div>
            </li>

            <li>
                <div class="summary">
                    <h4><a href="http://www.into-digital.fi">Into-Digital Ltd</a></h4>
                    Art Director<br>
                    5/2008—3/2009
                </div>
                <div class="description">
                    My work was really versatile in the area of digital media. Customers included many of the biggest companies and brands in Finland and in Europe.
                </div>
            </li>

            <li>
                <div class="summary">
                    <h4><a href="http://www.alypaa.com/">Älypää Ltd,</a><br>
                    <a href="http://sanomagames.fi/">Sanoma Digital Finland</a></h4>
                    Graphic designer<br>
                    11/2006—7/2008
                </div>
                <div class="description">
                    Graphic design for flash/mobile -games for alypaa.com and for their customers. Älypää is the biggest quiz online community in Finland with over 130 000 different visitors per week. Customers included many of the biggest companies and brands in Finland, such as Alko, Viking Line, Nindendo, SAK, S-ryhmä, Itella and many more.
                </div>
            </li>

            <li>
                <div class="summary">
                    <h4><a href="http://www.raymond.fi">Raymond,<br>Cultureproduction-cooperative</a></h4>
                    6/2007—4/2008
                </div>
                <div class="description">
                    Freelancer works I made previously under Raymond.
                </div>
            </li>

            <li>
                <div class="summary">
                    <h4>Culture magazine Kulkuri</h4>
                    Editor<br>
                    8/2007—11/2007
                </div>
                <div class="description">
                    Design, ad sales, distribution, writing and everything else. Kulkuri was a culture magazine and event calendar based in Jyväskylä, Finland. Distribution was 5000 / 2 weeks. I wrote articles for about one year to Kulkuri and before that to similar magazine Puimuri, which joined Kulkuri later on.
                </div>
            </li>

            <li>
                <h4>Short: trainee / civil service</h4>
                <a href="http://www.jao.fi/">Jyväskylän ammattiopisto</a>, media-assistant / civil service (non-military)</span>, <abbr class="dtstart" title="2004-06">6/2004</abbr>—<abbr class="dtend" title="2005-06">6/2005</abbr><br>
                <a href="http://www.mediataivas.com">Advertising agency Mediataivas Ltd</a>, trainee, 2 months in <abbr class="dtstart" title="2003-11-11">2003</abbr><abbr class="dtend" title="2004-02-20"></abbr><br>
                <a href="http://www.mediacabinet.fi">Media Cabinet Ltd</a>, trainee 1 month in <abbr class="dtstart" title="2003-03-24">2003</abbr><abbr class="dtend" title="2003-05-04"></abbr>
            </li>

            </ol>

            <h3 id="also">Also</h3>
            Plenty of projects as a freelancer for big and small clients. I've worked from around the world; in Finland, Lithuania, Spain, Portugal, France, Malaysia, Indonesia, Singapore... Also I've been working with exhibitions, different little magazines, teaching and giving small lectures.
            <br /><br />
            During years 2006—2008 I was active with <a href="http://www.liveherring.org">Live Herring</a> -workgroup, making nordic media-art more visible by workshops, lectures and exhibitions. I was also active in consumer- and climate activism collective <a href="http://www.porkkanamafia.fi/in-english/">Carrotmob</a> (2008—2010).


            <h2 id="honors">Honors</h2>
            <ul>
                <li><b>2010</b> — <a href="http://www.mtv3.fi/kuukaudenparhaatpikselit/?1104697">MTV3 Golden pixels</a> winner, Berocca banner-campaing. It got reselected as "the best Golden pixel of 2010" in <a href="http://www.rekaksois.com/grandone/voittajat.php">Grand One 2011</a>. (Employer: Into-Digital, role: Flash developer)</li>
                <li><b>2010</b> — <a href="http://www.rekaksois.com/grandone/?sivu=voittajat">Grand One 2010</a> winner, best Infodesign: Sun Sauna (Employer: Into-Digital, role: art director)</li>
                <li><b>2009</b> — <a href="http://www.rekaksois.com/grandone09/?sivu=voittajat">Grand One 2009</a> 1st honorable mention, most effective online campaign: Finnmatkat (TUI) email campaing (Employer: Into-Digital, role: art director)</li>
                <li><b>2007</b> — Participated to <a href="http://www.worldskills.org/">world skills</a> (world championship competition) in Japan</li>
                <li><b>2004</b> — Winner of <a href="http://www.taitaja2004.com">Skills competition</a> in webdesign</li>
            </ul>

            <blockquote class="sidequote tt" title="Jessamyn West (American Writer, 1902-1984)">Talent is helpful but guts are absolutely necessary.</blockquote>
            <!--<blockquote class="sidequote tt" title="Jessamyn West (American Writer, 1902-1984)">Talent is helpful in writing, but guts are absolutely necessary.</blockquote>-->
            <!--<blockquote class="sidequote">One day I will write a book.</blockquote>-->

            <h2 id="language">Language skills</h2>
            Finnish: native<br />
            English: excellent<br />
            Lithuanian: basics<br />
            Swedish: basics<br />

        </div>
        <aside id="sidebar">

            <img src="/assets/img/mikael.jpg" alt="Mikael Korpela" itemprop="photo" class="photo">

            <br><br>

            <p class="lead">I'm available for freelancing; just drop me a message! I'm based in Lithuania, Europe, but I travel extensively.</p>

            <div class="panel text-centered">
                <p><a href="mailto:mikael@ihminen.org" class="email">mikael@ihminen.org</a></p>

                <p>
                Finnish<br>
                <a href="tel:+358505557171" class="tel"><span class="type hidden">Home</span><span class="value" itemprop="tel">+358 50 555 7171</span></a>
                </p>

                <p>
                Lithuanian<br>
                <a href="tel:+37062291941" class="tel"><span class="type hidden">Home</span><span class="value" itemprop="tel">+370 62 291 941</span></a>
                </p>

                <!-- @include ../some.html -->


                <p>I was born <abbr class="bday" title="1985-11-22">1985</abbr> in Finland.</p>

            </div>
        </aside>

        <span class="cv-finished">} <a href="/">// Hey! Contact me</a></span>

    </div><!-- /#main -->

</div>
