<div id="cover" resizable ng-style="{ height: windowHeight }">
  <div style="background-image: url('/assets/img/albanian-mountains.jpg')" resizable ng-style="{ height: windowHeight }"></div>
  <div id="cover-blur" style="background-image: url('/assets/img/albanian-mountains-blur.jpg')" resizable ng-style="{ height: windowHeight }"></div>
</div>

<header id="page-header">
  <div class="title">
        <h1>Mikael Korpela</h1>
        <hr>
        <h3>I'm a modern nomad, a free economy activist and a friend.</h3>
        <!-- @include ../some.html -->
        <br><br>
        <span id="contact">
            <a href="mailto:mikael@ihminen.org" class="tt" title="...just drop me a message!">mikael@ihminen.org</a>
            &nbsp;&bull;&nbsp;
            <a href="tel:+358505557171" class="tt" title="Finland">+358505557171</a>
            &nbsp;&bull;&nbsp;
            <a href="tel:+37062291941" class="tt" title="Lithuania">+37062291941</a>
        </span>
  </div>
</header>

<div id="container">
    <article id="main">
        <div id="content">

            <div class="narrower-content">
                <h2>Good day!</h2>

                <p>I'm a lot on the road, it's in my nature. Often I hitchhike. I consider myself as a modern vagabond or nomad. I can do my work from anywhere and sometimes I'm not doing paid work for long times.</p>

                <p>I enjoy company of positive and talkative people. <br>Don't be evil. Be yourself.</p>

                <p>I have a good tolerance for different people and behavior. <br>You can be odd if you want to.</p>

                <p>You can see what others are saying <br>about me at <a href="http://www.bewelcome.org/members/mikael/comments">BeWelcome</a> or <a href="http://www.couchsurfing.org/people/simison/">CouchSurfing</a>.</p>

                <br><br>
            </div>

            <p>
                <img src="/assets/img/mikael-me.jpg" alt="Mikael on meadow in French alps"><br>
                <small><em>This is me on a meadow I found from 2km altitude in French alps.</em></small>
            </p>

            <hr>

            <em>Nähdään! See you!</em>

        </div>
    </article>
</div>
