<div id="cover" resizable ng-style="{ height: (windowHeight / 1.03) }">
  <div style="background-image: url('/assets/img/walls.jpg')" resizable ng-style="{ height: (windowHeight / 1.03) }"></div>
  <div id="cover-blur" style="background-image: url('/assets/img/walls-blur.jpg')" resizable ng-style="{ height: (windowHeight / 1.03) }"></div>
</div>

<header id="page-header">
  <div class="title">
    <h1>Scrapbook about me in here and there</h1>
    <hr>
  </div>
</header>

<div id="container">
    <article id="main">
        <div id="content">
            <h4>About hitchhiking &amp; traveling</h4>
            <ul>
                <li>Serbian travel club Klub Putnika - <a href="http://www.thetravelclub.org/articles/traveloscope/624-mikael-korpela-hitchwiki-admin-restore-the-trust-among-people">Mikael Korpela, HitchWiki admin: Restore the trust among people</a>, 24. July 2014 (also <a href="www.klubputnika.org/zbirka/putoskop/3760-mikael-korpela-urednik-hitchwikija-vratimo-povjerenje-medu-ljude">in Serbian</a>)</li>
                <li>Travel podcast Zero to Travel - <a href="http://zerototravel.com/podcast/hitchhiking-hitchwiki/">Hitchhiking: Myths, Facts and Beyond</a>, June 2014</li>
                <li>Brazilian newspaper <a href="http://www.cartacapital.com.br/revista/805/na-estrada-6541.html">Na estrada - Rodar o mundo de carona é mais do que uma aventura. É um estilo de vida</a> (In Portuguese) 24 June 2014</li>
                <li>Portuguese newspaper <a href="http://www.wort.lu/pt/vida/n-madas-2-0-a-boleia-pelo-mundo-536b7240b9b3988708025ff0">Nómadas 2.0 - À boleia pelo mundo</a> (In Portuguese) 8 May 2014</li>
                <li>French newspaper Rue 89 - <a href="http://rue89.nouvelobs.com/2013/11/15/lautostop-a-resiste-covoiturage-faits-divers-247432">L’autostop a résisté au covoiturage et aux faits divers</a>, (In French) 15 November 2013</li>
                <li>Lithuanian travelzine Kelionių manija - <a href="http://www.kelioniumanija.lt/lt/kelioniu_idejos/tolimi_krastai/pietryciu_azijos_klajunai_kai_norisi_buti_visur.html">Pietryčių Azijos klajūnai: kai norisi būti visur</a>, (In Lithuanian) 16 August 2011</li>
                <li>Finnish news YLE 2011 <a href="http://yle.fi/uutiset/liftari_on_kotonaan_kaikkialla/5370604">Liftari on kotonaan kaikkialla</a> (In Finnish) 4. June 2011</li>
                <li>Finnish radio station <a href="https://dl.dropboxusercontent.com/u/5048547/liftarihaastattelu-yle.mp3">YLE Radio Suomi</a> (In Finnish) 24. May 2011</li>
                <li>Finnish newspaper Iltasanomat 2010 (<em>anyone has a copy?</em>)</li>
                <li>Finnish newsagency STT (and bunch of newspapers like Kaleva) <a href="http://www.kaleva.fi/uutiset/kotimaa/vapaus-viehattaa-liftaria/276446/">Vapaus viehättää liftaria</a> (In Finnish) 14 June 2009</li>
            </ul>

            <h4>Other stuff</h4>
            <ul>
                <li><a href="http://www.porkkanamafia.fi/mediaseuranta/">Carrotmob / Porkkanamafia articles</a> 2008—2010</li>
                <li>Finnish newspaper Suurjyväskylän lehti: <a href="http://www.surkkari.fi/pdf/2008/200844_ke/sjl28.pdf">Mediataidetta Holvissa</a>, 5. November 2008</li>
                <li>Finnish webzine <a href="http://vierityspalkki.fi/2008/03/31/xss-aukot-verkkopalveluiden-riesana/">XSS-aukot verkkopalveluiden riesana</a>, 31 March 2008</li>
                <li>Finnish newspaper Keski-Suomalainen: <a href="/files/ksml_2008-03-31_suurten_sivut_reikajuustoa.pdf">Suurten sivut reikäjuustoa</a>, 31 March 2008</li>
                <li>Finnish newspaper Helsingin Sanomat: <a href="http://www2.hs.fi/english/archive/news.asp?id=20021022IE1">Net detectives found the bomber by themselves</a>, 22. October 2002</li>
            </ul>

        </div>
    </article>
</div>
